<!-- Services Section -->
    <section id="intro" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">행사 소개</h2>
                </div>
            </div>
            <div class="row container">
                <p>Korea MCT Summit은 Microsoft Certified Trainer(MCT; 마이크로소프트 공인 강사)들이 모여 기술을 공유하고, 네트워킹하며, 전문성을 강화하는 자리입니다. 참가자들은 다양한 세션을 통해 최신 기술 트렌드를 배우고, 업계 전문가들과 교류할 수 있습니다.</p> 
                <p>해외에서는 이미 다양한 지역(<a href="https://namctsummit.com/" target="_blank">북미</a>, <a href="https://www.communitydays.org/event/2025-01-09/european-mct-summit-2025#home" target="_blank">유럽</a>, <a href="https://www.linkedin.com/company/mct-summit-japan/" target="_blank">일본</a>, <a href="https://mctsummitpakistan.com/">파키스탄</a>)에서 MCT Summit이 다년간 열려 왔고, 이를 통해 각국의 MCT들이 교류하고 기술을 발전시키는 기회를 제공했습니다. 한국에서도 이번 행사를 통해 국제적인 흐름을 반영하며 더욱 성장하는 MCT 커뮤니티를 함께 만들어 가보고자 합니다.</p>
                <p><i>*본 행사는 현직 MCT, Alumni 프로그램에 정상적으로 등록된 MCT Alumni, 그리고 Microsoft 임직원만 참석 가능합니다.<i></i></p>

                <!-- <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style> -->

                <!-- <div class="video"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&width=500&show_text=false&appId=269289086810957&height=280" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br> -->

                 <!-- <center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center> -->
            </div>
        </div>
    </section>