<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Korea MCT Summit 2025<br></div>
                <div class="intro-lead-in">일자: 5월 16일(금) ~ 17일(토)</div>
                <div class="intro-lead-in">장소: 한국마이크로소프트 13층</div>
                <a href="https://event-us.kr/koreamct/event/99393" class="page-scroll btn btn-xl">행사 등록하기</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/speakers.html %}
    <!-- {% include 2016_data/contact.html %} -->
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>