<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}

    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header class="korea-mct-header">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Korea MCT Summit 2026<br></div>
                <div class="intro-lead-in">일자: 5월 15일(금) ~ 16일(토)</div>
                <div class="intro-lead-in">장소: 한국마이크로소프트 13층</div>
                <a class="page-scroll btn btn-xl">곧 만나요!</a>
            </div>
        </div>
    </header>


    {% include 2016_data/js.html %}

    </body>
</html>

<style>
.korea-mct-header {
    background: linear-gradient(to right, #031a9e, #7e1ccec2);
    color: white;
    padding: 80px 0;
    text-align: center;
    margin-bottom: 50px;
}

.korea-mct-header .container {
    width: 100%;
}